Source: wasta-resources-seb
Section: doc
Priority: extra
Maintainer: Rik Shaw <rikshaw76@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.5
Homepage: https://sites.google.com/site/wastalinux/

Package: wasta-resources-seb
Architecture: all
Depends: wasta-resources, ${shlibs:Depends}, ${misc:Depends}
Description: Wasta-Linux Senegal Branch Resources
 Wasta-Linux SEB reference materials / documentation / resources.
